@import 'tailwindcss';

:root {
  --background: #151619;
  --foreground: #fff;

  --screen-sm: 375px;
  --screen-md: 768px;
  --screen-xl: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-red-card: #ff4242;
  --color-dark-card: #343843;
  --color-green-card: #47ff69;
  --color-dark-bg: #151619;
}

body {
  background: var(--background);
  color: var(--foreground);
}
