@import 'tailwindcss';

:root {
  --background: #151619;
  --foreground: #fff;

  --screen-sm: 375px;
  --screen-md: 768px;
  --screen-xl: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.roulette-container {
  position: relative;
  overflow: hidden;
}

.roulette-container::before,
.roulette-container::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  pointer-events: none;
  z-index: 10;
}

.roulette-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.roulette-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.text-responsive {
  @apply text-[10px] md:text-[16px] xl:text-[18px];
}

.stat-card-responsive {
  @apply w-[20px] h-[20px] md:w-[32px] md:h-[32px];
}
